body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; /* Aligns children elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Ensures text is centered within its container */
}

footer {
    margin-top: auto; /* Pushes the footer to the bottom of the viewport if the content is not tall enough */
}

.div-class {
    margin: 20px; /* Adds 20px of margin to all sides */
}


.leaderboard-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.tab {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    background-color: #5b2d80;
    color : #ffffff;
}

.tab.active {
    background-color: #16807f; 
}

.main-content {
    width: 100%;
    /* float: center; */
}

.sidebar-expanded {
    width: 100%;
    }

.sidebar-collapsed {
    position: fixed;
    right: 10px;
    width: 50px;
    /* Collapsed width */
    /* Additional styling */
}

.messages .message.success {
    color: green;
}