<h2>Add Observation</h2>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="message {{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<div class="mb-4">
<form method="post" id="add_observation">
    {% csrf_token %}

    <select id="diver" name="diver">
        <option value="">Select a diver</option>
        {% for diver in divers %}
        <option value="{{ diver.id }}">{{ diver.name }}</option>
        {% endfor %}
    </select><br>
    <select id="creature" name="creature">
        <option value="">Select a species</option>
        {% for creature in creatures %}
        <option value="{{ creature.species }}">{{ creature.species }} ({{ creature.category }}) - {{creature.points}} points</option>
        {% endfor %}
    </select><br>

    <label for="date_observed">Date observed:</label>
    <input type="date" id="date_observed" name="date_observed"><br>
    <input type="submit" value="Submit Observation"><br>
</form>
</div>
<div id="message-box"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Handling add_observation form
        handleFormSubmit('add_observation', "{% url 'add_observation' %}");
    });
    // Initialize Select2 for the creature dropdown
    $('#creature').select2({
        placeholder: "Select a species",
        allowClear: true
    });
    $('#diver').select2({
        placeholder: "Select a diver",
        allowClear: true
    });
    // Set today's date as the default for date_observed
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById('date_observed').value = today;
</script>