<h2>Add Observation</h2>
{% load static %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="message {{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<div id="observation-form-success" style="color: green;"></div> <!-- Success message placeholder -->
<div id="observation-form-error" style="color: red;"></div> <!-- Error message placeholder -->
<form method="post" id="add_observation">
    {% csrf_token %}

    <select id="diver" name="diver" class="select-item">
        <option value="">Select a diver</option>
        {% for diver in divers %}
        <option value="{{ diver.id }}">{{ diver.name }}</option>
        {% endfor %}
    </select><br>
    <select id="creature" name="creature" class="select-item">
        <option value="">Select a species</option>
        {% for creature in creatures %}
        <option value="{{ creature.species }}">{{ creature.species }} ({{ creature.category }}) -
            {{creature.points}} points</option>
        {% endfor %}
    </select><br>
    <select id="booster" name="booster" class="select-item" multiple = "multiple">
        {% for booster in boosters %}
        <option value="{{ booster.id }}">{{ booster.booster }} (x{{ booster.coefficient }})</option>
        {% endfor %}
    </select><br>
    <label for="date_observed">Date observed:</label>
    <input type="date" id="date_observed" name="date_observed"><br>
    <input type="submit" value="Submit Observation"><br>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Handling add_observation form
        handleFormSubmit('add_observation', "{% url 'add_observation' %}");
    });
    $('#creature').select2({
        placeholder: "Select a species",
        allowClear: true
    });
    $('#diver').select2({
        placeholder: "Select a diver",
        allowClear: true
    });
    $('#booster').select2({
        placeholder: "Select boosters (optional)",
        allowClear: true
    });
    // Set today's date as the default for date_observed
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById('date_observed').value = today;

    document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('add_observation').addEventListener('submit', function (e) {
                e.preventDefault();
                var data = new FormData(this);
                fetch("{% url 'add_observation' %}", {
                    method: 'POST',
                    body: data,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'error') {
                            document.getElementById('observation-form-error').innerText = data.message; // Display error message
                            document.getElementById('observation-form-success').innerText = ''; // Clear previous success message
                        } else {
                            document.getElementById('observation-form-success').innerText = data.message; // Display success message
                            document.getElementById('observation-form-error').innerText = ''; // Clear previous error message
                            // Optionally, clear the form fields
                            document.getElementById('add_observation').reset();
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });


    // document.getElementById('add_observation').addEventListener('submit', function (e) {
    //     e.preventDefault();
    //     var data = new FormData(this);
    //     fetch("{% url 'add_observation' %}", {
    //         method: 'POST',
    //         body: data,
    //     })
    //         .then(response => response.json())
    //         .then(data => {
    //             // Update the message-box div with the success message
    //             var messageBox = document.getElementById('message-box');
    //             messageBox.innerHTML = `<div class="message success">${data.message}</div>`; // Adjust the class as needed
    //         })
    //         .catch(error => console.error('Error:', error));
    // });


</script>