{% extends 'bingo/base.html' %}
{% block content %}
{% load static %}
<div class="main-content">
    <h2>Top Divers</h2>
    <div class="tabs" data-url-top-divers="{% url 'top_divers' %}">
        <div class="tab" data-period="week">This Week</div>
        <div class="tab active" data-period="month">This Month</div>
        <div class="tab" data-period="last_six_months">Last 6 months</div>
        <div class="tab" data-period="ever">Ever</div>
    </div>
    <div id="top-divers-container">
        {% include "bingo/top_divers.html" %}
    </div>

    <div id="observations-container">
        {% include "bingo/observations_list.html" %}
    </div>
    <div id="add-observation">
        {% include "bingo/add_observation.html" %}
    </div>
    <div id="add-diver">
        <h2>Add Diver</h2>
        <div id="diver-form-success" style="color: green;"></div> <!-- Success message placeholder -->
        <div id="diver-form-error" style="color: red;"></div> <!-- Error message placeholder -->
        <form method="post" id="add_diver">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Diver Name"><br>
            <input type="submit" value="Add Diver">
        </form>
    </div>
    <div id="rules">
        {% include "bingo/rules.html" %}

    </div>
</div>
<script>
        document.addEventListener("DOMContentLoaded", function () {
        // Handling add_observation form
        handleFormSubmit('add_observation', "{% url 'add_observation' %}");
    });
    // Initialize Select2 for the creature dropdown
    $('#creature').select2({
        placeholder: "Select a species",
        allowClear: true
    });
    $('#diver').select2({
        placeholder: "Select a diver",
        allowClear: true
    });
    // Set today's date as the default for date_observed
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById('date_observed').value = today;

    document.getElementById('add_observation').addEventListener('submit', function (e) {
        e.preventDefault();
        var data = new FormData(this);
        fetch("{% url 'add_observation' %}", {
            method: 'POST',
            body: data,
        })
            .then(response => response.json())
            .then(data => {
                // Display the success message
                alert(data.message);
            })
            .catch(error => console.error('Error:', error));
    });

    
</script>
{% endblock %}