<h1>Instructions</h1>
<p>We want to encourage divers to explore the underwater world and record their observations of various marine species. Participants earn points for each species they spot and identify, with the goal of collecting as many points as possible.</p>
<p><strong>First bingo round ends 21st April 2024.</strong></p>

<h2>How to Participate:</h2>
<p><strong>Dive and Discover:</strong> During your dives, keep an eye out for the marine creatures listed in our Creature Bingo.</p>
<p><strong>Record Your Observations:</strong> After spotting a creature, log your observation on the website. Include details such as the species name and date of your sighting.</p>

<h2>Points System:</h2>
<p>Points are awarded based on the species observed. The points for each species are fixed and listed on this <a href="https://docs.google.com/spreadsheets/d/1qAM8jLKCEASjyBjVTqXLgt8YjJRm9OtlIzGQ_xuiGeg/edit#gid=0">spreadsheet</a>.</p>
<p>Some species may be worth more points due to their rarity or difficulty to spot.</p>
<p>The judge might be in contact with you to confirm the observation.</p>

<h2>Winning:</h2>
<p>The game runs for fixed periods. The first rounds ends on <strong> 21st April 2024</strong>.</p>
<p>The diver with the highest total points at the end of the game period wins.</p>
<p>In case of a tie, the winner will be determined by who reached their point total first.</p>

<h2>Prizes:</h2>
<p>Prizes will be awarded to the top scorers. Details of the prizes will be shared by the club.</p>

<h2>General Rules:</h2>
<p>Respect marine life: Do not disturb or harm the creatures during your observations.</p>
<p>Follow diving safety rules: Always prioritize your safety and that of your dive buddies.</p>
<p>Honest reporting: Only log species that you have genuinely observed. The club reserves the right to verify entries.</p>

<p>Have Fun!</p>